In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
gastos_costos_2022=pd.read_excel("Gastos y costos 20-23.xlsx", sheet_name = "2022", skiprows=3)
gastos_costos_2022.head(5)

,Fecha,Folio,UUID,RFC,Proveedor,TIPO GASTO,Descripción,MP,TC,Importe,IVA,RET ISR,RET IVA,Otros,TOTAL MX,TOTAL SAT,Tipo,Status,Poliza
0,2022-01-01,280108,9DA0E63F-1D47-441F-93D7-C2E05AE4D35E,BLE1512082R9,BEPENSA LEASING S.A. DE C.V.,ARRENDAMIENTO FINANCIERO,AA RENTA EXIGIBLE CL0000006876 18/36 de 03/12/...,PPD,1.0,5551.38,888.22,0.0,0.0,NaN,6439.6,6439.6,I,Vigente,PE02-ENE22
1,2022-01-01,280109,7E00E776-A839-4D57-B291-411109164B2F,BLE1512082R9,BEPENSA LEASING S.A. DE C.V.,ARRENDAMIENTO FINANCIERO,AA RENTA EXIGIBLE CL0000006877 18/36 de 03/12/...,PPD,1.0,5551.98,888.32,0.0,0.0,NaN,6440.3,6440.3,I,Vigente,PE03-ENE22
2,2022-01-01,007817297284,BB6585C1-3B54-4130-AFD0-1867C3764821,BNM840515VB1,"BANCO NACIONAL DE MEXICO, S.A.",COMISION BANCARIA,Servicios de Facturación,PUE,1.0,0.00,0.00,0.0,0.0,NaN,0.0,0.0,I,Vigente,NaN
3,2022-01-01,5595,B5E4B4EB-6C2F-11EC-BB9D-00155D014009,ZEGC530520V4A,CARLOS ENRIQUE ZERMEÑO GUTIERREZ,COMPRAS,Pago,NaN,1.0,0.00,0.00,0.0,0.0,NaN,0.0,0.0,P,Vigente,NaN
4,2022-01-01,5614,BB6756D1-6CCD-11EC-947D-00155D014407,ZEGC530520V4A,CARLOS ENRIQUE ZERMEÑO GUTIERREZ,COMPRAS,Pago,NaN,1.0,0.00,0.00,0.0,0.0,NaN,0.0,0.0,P,Vigente,NaN

In [10]:
valores_nulos_gastos_costos_2022=gastos_costos_2022.isnull().sum()
valores_nulos_gastos_costos_2022

Fecha             0
Folio           102
UUID              0
RFC               0
Proveedor         0
TIPO GASTO        0
Descripción       0
MP              553
TC              636
Importe           0
IVA               0
RET ISR           0
RET IVA           0
Otros          2577
TOTAL MX          0
TOTAL SAT         0
Tipo              0
Status            0
Poliza          801
dtype: int64

In [11]:
#Realizamos una copia del dataframe
gastos_costos_2022_1 = gastos_costos_2022.copy()

In [20]:
#Sustitucion por promedio para valores numericos
gastos_costos_2022_1["TC"]=gastos_costos_2022_1["TC"].fillna(round(gastos_costos_2022["TC"].mean(),1))

In [32]:
#Sustitucion del folio por un valor en concreto
gastos_costos_2022_1["Folio"] = gastos_costos_2022_1["Folio"].fillna("F0000")
gastos_costos_2022_1["Otros"] = gastos_costos_2022_1["Otros"].fillna("N/A") 
gastos_costos_2022_1["Poliza"] = gastos_costos_2022_1["Poliza"].fillna("N/A")

In [30]:
#Sustituir valores str con el metodo de sustitucion de valores no nulos hacia atras
gastos_costos_2022_1["MP"] =gastos_costos_2022_1["MP"].fillna(method="bfill")

C:\Users\Osvaldo\AppData\Local\Temp\ipykernel_30468\1770876916.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  gastos_costos_2022_1["MP"] =gastos_costos_2022_1["MP"].fillna(method="bfill")

In [33]:
valores_nulos_gastos_costos_2022_1=gastos_costos_2022_1.isnull().sum()
valores_nulos_gastos_costos_2022_1

Fecha          0
Folio          0
UUID           0
RFC            0
Proveedor      0
TIPO GASTO     0
Descripción    0
MP             3
TC             0
Importe        0
IVA            0
RET ISR        0
RET IVA        0
Otros          0
TOTAL MX       0
TOTAL SAT      0
Tipo           0
Status         0
Poliza         0
dtype: int64